<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Hoàng Ân">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Camera</title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/dropzone.css">
    <link rel="stylesheet" href="static/css/style.css">

    <script src="static/js/RecordRTC.min.js"></script>
    <script src="static/js/dropzone.js"></script>
    <script src="static/js/common.js"></script>
  </head>

  <body class="text-reponsive">
    <div id="wrapper"></div>
    <script src="static/js/app.js"></script>
  </body>
</html>